::-webkit-scrollbar {
	width: 4px;
	color: #4f03a6;
}
::-webkit-scrollbar-thumb {
	background: #4f03a6;
	border-radius: 4px;
	width: 4px;
}
#breaker {
	background-color: #4f03a6;
}
.color {
	color: #4f03a6;
}
#about-content a {
	color: #4f03a6;
}
.cv a button {
	background: #4f03a6;
}
.service-img img {
	background: #4f03a6;
	box-shadow: 0px 0px 0px 0px #4f03a6;
}
.service:hover .service-img img {
	box-shadow: 0px 0px 0px 400px #4f03a6;
}
.html-progress {
	background: #4f03a6;
}
.js-progress {
	background: #4f03a6;
}
.adobe-progress {
	background: #4f03a6;
}
.php-progress {
	background: #4f03a6;
}
.jquery-progress {
	background: #4f03a6;
}
.seo-progress {
	background: #4f03a6;
}
.portfolio-text h2 {
	color: #4f03a6;
}
.portfolio-text button {
	color: #4f03a6;
	border: 1.5px solid #4f03a6;
}
.portfolio-text button::before {
	background: #4f03a6;
}
.portfolio-image img::before {
	background: #4f03a6;
}
.blog-date {
	background: #4f03a6;
}
form button {
	background: #4f03a6;
}
@media all and (max-width: 550px) and (min-width: 5px) {
	.service:hover .service-img img {
		box-shadow: 0px 0px 0px 0px #4f03a6;
	}
}
